*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
.DS_Store
/build
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
